.page {
    min-width: 1100px;
    max-width: 1600px;
    margin: 0 auto;
    font-family: 'Helvetica Neue', Arial, sans-serif;
}

.link_transform {
    transition: .5s;
}

.link_transform:hover {
    opacity: .5;
}
